
<nb-layout>
    <nb-layout-header fixed>
      <app-hearder></app-hearder>
    </nb-layout-header>
  
    <nb-sidebar>
      <ul class="list-group">
          <li class="list-group-item" routerLink="dashboard">DashBoard</li>
          <li class="list-group-item" routerLink="category">Categorie</li>
          <li class="list-group-item" routerLink="forms">Forms</li>
        </ul>
    </nb-sidebar>
  
    <nb-layout-column class="colored-column-basic">
        
        <router-outlet></router-outlet>

    </nb-layout-column>
  </nb-layout>
